:root {
  /* Text-family-list */
  --main-font--: 'Roboto', sand-serif;
  --secondary-font--: 'Raleway' sand-serif;
  /* Colors-list */
  --dominate-txt-color--: #757575;
  --mark-color--: #2196f3;
  --dark-txt--: #212121;
  --light-txt--: #ffffff;
  --dark-fone--: #2f303a;
  --light-fone--: #e5e5e5;
  --gray-fone--: #f5f4fa;
}
/* Global-styles */
body {
  font-family: var(--main-font--);
  color: var(--dominate-txt-color--);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--light-txt--);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Output-styles*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
.link:hover,
.link:focus {
  color: var(--mark-color--);
}
.list {
  list-style-type: none;
}
.hidden {
  visibility: hidden;
  height: 0px;
}

/*header-styles*/

.header-conrtainer {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 25px;
}
.nav-elements {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
/*logo-styles*/
.logo-link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--mark-color--);
  margin-right: 93px;
}
.logo-part {
  color: var(--dark-txt--);
}

/*head-link-list*/
.head-link-item {
  margin-right: 50px;
}
.head-link-item:last-child {
  margin-right: 0px;
}
.head-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-txt--);
}

.head-link-on {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mark-color--);
}

/*head-contact-list*/
.head-contacts {
  display: flex;
  margin-left: auto;
}
.head-contacts li {
  margin-right: 50px;
}
.head-contacts li:last-child {
  margin: 0px;
}
.head-contacts a {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dominate-txt-color--);
}
/* main */

/*site-title-section-styles*/
.title-section {
  background-color: var(--dark-fone--);
  margin-top: 25px;
  padding: 200px 0px;
}
.site-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt--);
}
.order-buttons {
  min-width: 200px;
  background: var(--mark-color--);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-txt--);
  border: none;
  outline: none;
  background: var(--mark-color--);
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}
.order-buttons:active {
  background: var(--gray-fone--);
  color: var(--dark-txt--);
  border: 1px solid var(--dark-txt--);
}

/* qualities-section */
.qualities-list {
  display: flex;
}
.qualities-items {
  width: 270px;
  margin-left: 30px;
}
.qualities-items:first-child {
  margin-left: 0px;
}
.qualities {
  color: var(--dark-txt--);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.qualities-discription {
  line-height: 1.71;
  margin-top: 10px;
}
/* duty-section */
.duty-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--dark-txt--);
  margin-top: 94px;
}
.duti-list {
  display: flex;
  margin-top: 50px;
}
.duty-item {
  margin-left: 30px;
}
.duty-item:first-child {
  margin-left: 0px;
}
/*members-section*/
.member-section {
  background-color: var(--gray-fone--);
}
.member-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--dark-txt--);
}
.member-list {
  display: flex;
  margin-top: 50px;
}
.member-item {
  margin-left: 30px;
  background-color: var(--light-txt--);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member-item:first-child {
  margin-left: 0px;
}
.member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--dark-txt--);
  margin-top: 30px;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
/* footer-section*/
.footer-section {
  background-color: var(--dark-fone--);
  padding-top: 60px;
  padding-bottom: 60px;
}
/*logo-styles*/
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--mark-color--);
}
.footer-logo-secondary {
  color: var(--light-txt--);
}
.adress-list {
  margin-top: 20px;
}
.adress-item {
  margin-top: 9px;
}
.adress-item:first-child {
  margin-top: 0px;
}
.adress-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--light-txt--);
}
.footer-links {
  font-style: normal;
  line-height: 1.71;
  color: var(--dominate-txt-color--);
}
.footer-links:hover,
.footer-links:focus {
  color: var(--mark-color--);
}
/*portfolio-main-section*/
.main-section {
  border-top: 1px solid #ececec;
}
.button-list {
  display: flex;
  justify-content: center;
}
.button-item {
  margin-left: 8px;
}
.button-item:first-child {
  margin-left: 0px;
}
.filter-button {
  width: 128px;
  height: 28px;
  background: var(--gray-fone--);
  border-radius: 4px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  align-items: center;
  text-align: center;
  background: var(--gray-fone--);
  color: var(--dark-txt--);
  border: none;
  outline: none;
  cursor: pointer;
}
.filter-button:focus,
.filter-button:hover,
.filter-button:active {
  background: var(--mark-color--);
  color: var(--light-txt--);
  border: none;
}
/* project-list */
.project-list {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}
.project-item {
  margin-left: 30px;
  margin-top: 30px;
}
.project-item:nth-child(3n + 1) {
  margin-left: 0px;
}
.project-item:nth-child(-n + 3) {
  margin-top: 0px;
}
.project-discription {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 20px;
}
.project-names {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-txt--);
  margin-left: 24px;
}
.project-types {
  font-size: 16px;
  line-height: 1.87;
  color: var(--dominate-txt-color--);
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
}
